[Unit]
Description=Elasticsearch backup
Documentation=https://github.com/gaia-adm/backup-elastic

[Service]
Type=oneshot
RemainAfterExit=false
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker stop backup-elastic
ExecStartPre=-/usr/bin/docker rm backup-elastic
ExecStart=/usr/bin/docker run --rm --name backup-elastic gaiaadm/backup-elastic:3-master /bin/bash -ac './backup-elastic.sh'

# Stop
ExecStop=-/usr/bin/docker kill backup-elastic

[X-Fleet]
MachineMetadata=elasticsearch=true

