[Unit]
Description=Run backup-elastic service once a day
After=backup-elastic.aws.service

[Timer]
OnCalendar=Mon,Wed,Sat *-*-* 09:50:00
Persistent=true

[Install]
WantedBy=timers.target

[X-Fleet]
MachineOf=backup-elastic.aws.service
