# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=cAdvisor service

[Service]
Restart=on-failure
RestartSec=20s

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
# This is due to bug in which multiple docker pulls might collide in case of the same base image
# Bug had been reported here: https://github.com/docker/docker/issues/9718
# This issue still exists in Docker 1.8.1
# for now - we sync the collided services (evi, mgs and sts) using flock
ExecStartPre=/usr/bin/flock -w 600 "/home/core/pull.lock" -c "/usr/bin/docker pull google/cadvisor"
ExecStart=/bin/bash -a -c 'docker run \
-v /:/rootfs:ro \
-v /var/run:/var/run:rw \
-v /sys:/sys:ro \
-v /var/lib/docker/:/var/lib/docker:ro \
-p 8050:8080 \
--name=cadvisor \
google/cadvisor'

# Stop
ExecStop=/usr/bin/docker stop cadvisor

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
