[Unit]
Description=Dex-overlord
Documentation=https://github.com/coreos/dex/
After=registrator.service
Wants=registrator.service

[Service]
TimeoutStartSec=20min
TimeoutStopSec=15
KillMode=none
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/env-dex
Restart=on-failure
RestartSec=20s

ExecStartPre=-/usr/bin/docker stop dex-overlord
ExecStartPre=-/usr/bin/docker rm dex-overlord

ExecStart=/usr/bin/docker run \
--name dex-overlord \
-p 5557:5557 \
-e DEX_OVERLORD_ADMIN_API_SECRET=${DEX_OVERLORD_ADMIN_API_SECRET} \
-e DEX_OVERLORD_KEY_SECRETS=${DEX_KEY_SECRET} \
-e DEX_OVERLORD_DB_URL=postgres://dex:dex_pass@${DB_ALIAS}/dex_db?sslmode=disable \
-e DEX_OVERLORD_KEY_PERIOD=1h \
-e DEX_OVERLORD_LOG_DEBUG=true \
-e SERVICE_NAME=dexoverlord \
gaiaadm/dex \
/opt/dex/bin/dex-overlord --admin-listen http://0.0.0.0:5557 --log-debug=true &

ExecStop=/usr/bin/docker stop dex-overlord

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=purpose=general
