[Unit]
Description=Dex-worker
Documentation=https://github.com/coreos/dex/
After=dex-overlord.service
Wants=dex-overlord.service

[Service]
TimeoutStartSec=20min
TimeoutStopSec=15
KillMode=none
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/env-dex
Restart=on-failure
RestartSec=20s

ExecStartPre=-/usr/bin/docker stop dex-worker
ExecStartPre=-/usr/bin/docker rm dex-worker

ExecStart=/usr/bin/docker run \
--name dex-worker \
-p 5556:5556 \
-e DOMAIN=${DOMAIN} \
-e GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID} \
-e GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET} \
-e MAILGUN_PRIVATE_KEY=${MAILGUN_PRIVATE_KEY} \
-e MAILGUN_PUBLIC_KEY=${MAILGUN_PUBLIC_KEY} \
-e MAILGUN_DOMAIN=${MAILGUN_DOMAIN} \
-e DEX_WORKER_KEY_SECRETS=${DEX_KEY_SECRET} \
-e DEX_WORKER_DB_URL=postgres://dex:dex_pass@${DB_ALIAS}/dex_db?sslmode=disable \
-e DEX_WORKER_ENABLE_REGISTRATION=true \
-e DEX_WORKER_LOG_DEBUG=true \
-e SERVICE_NAME=dexworker \
-w /opt/dex \
gaiaadm/dex \
/bin/sh  -c '/opt/dex/dex-setup.sh \
&& /opt/dex/bin/dexctl --db-url=postgres://dex:dex_pass@${DB_ALIAS}/dex_db?sslmode=disable set-connector-configs /opt/dex/static/fixtures/connectors.json \
&& /opt/dex/bin/dex-worker --email-cfg=/opt/dex/static/fixtures/emailer.json --issuer http://${DOMAIN}:88 --issuer-name Gaia-Dex --listen http://0.0.0.0:5556 ' &


ExecStop=/usr/bin/docker stop dex-worker

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=purpose=general
