# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Docker Mirror V1
Documentation=https://github.com/docker/docker-registry

# Dependency ordering
After=docker-mirror-data@%i.service
Requires=docker-mirror-data@%i.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=10min
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Restart policy
Restart=on-failure
RestartSec=10s

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill docker-mirror-%i
ExecStartPre=-/usr/bin/docker rm docker-mirror-%i
ExecStart=/usr/bin/docker run \
--name docker-mirror-%i \
--volumes-from docker-mirror-data-%i \
-e http_proxy=${http_proxy} \
-e https_proxy=${https_proxy} \
-e STORAGE_PATH=/data/docker-mirror \
-e STANDALONE=false \
-e MIRROR_SOURCE=https://registry-1.docker.io \
-e MIRROR_SOURCE_INDEX=https://index.docker.io \
-e SERVICE_NAME=docker-mirror \
-e SERVICE_TAGS=%i \
-p 5000:5000 registry:0.9.1

# Stop
ExecStop=/usr/bin/docker stop docker-mirror-%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=docker-mirror@*.service
MachineOf=docker-mirror-data@%i.service
