# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Fleet-UI
Documentation=https://github.com/purpleworks/fleet-ui


[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=10min
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Restart policy
Restart=on-failure
RestartSec=20s

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill fleet-ui
ExecStartPre=-/usr/bin/docker rm fleet-ui

ExecStart=/bin/bash -a -c '/usr/bin/docker run \
--name fleet-ui \
-p 3200:3000 \
-v ~/.ssh:/root/.ssh \
-e ETCD_PEER=http://${COREOS_PRIVATE_IPV4}:4001 \
-e SERVICE_NAME=fleet-ui \
-e SERVICE_TAGS=fleet-ui,dashboard \
gaiaadm/fleet-ui'

# Stop
ExecStop=/usr/bin/docker stop fleet-ui

[Install]
WantedBy=multi-user.target
