# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=InfluxDB v.0.9
Documentation=https://influxdb.com/docs/v0.9/introduction/overview.html

# Requirements
Requires=influxdb.data.service

# Dependency ordering
After=influxdb.data.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=10min
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Restart policy
Restart=on-failure
RestartSec=20s

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill influxdb
ExecStartPre=-/usr/bin/docker rm influxdb
ExecStart=/usr/bin/docker run \
--name influxdb \
--volumes-from influxdb.data \
-e "PRE_CREATE_DB=mydb1" \
-e "SERVICE_NAME=influxdb" -e "SERVICE_TAGS=master" \
-p 8083:8083 -p 8086:8086 \
tutum/influxdb

# --volumes-from influxdb.data \
# Stop
ExecStop=/usr/bin/docker stop influxdb

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=influxdb.data.service
