# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=Logentries Forwarder

[Service]
# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

Restart=on-failure
RestartSec=20s

ExecStartPre=/bin/bash -c \
             'if [ -n "$(etcdctl get /logentries.com/$(hostname)/lastlog)" ]; then  \
                echo "Last log date: $(etcdctl get /logentries.com/$(hostname)/lastlog)"; \
              else \
                export D="$(date +"%Y-%%m-%%d %%H:%%M:%S")"; \
                echo "No start date found, collecting logs since $D"; \
                /bin/etcdctl set /logentries.com/$(hostname)/lastlog "$D"; true; \
              fi'
# also install volume-tools, since it contains newer jq with date functions. volume-tools are necessary everywhere anyway.
ExecStartPre=/usr/bin/docker pull gaiaadm/volume-tools-${ENVIRON_LOCATION}
ExecStartPre=/usr/bin/docker run --rm=true -v /opt/bin:/target gaiaadm/volume-tools-${ENVIRON_LOCATION}

ExecStart=/bin/bash -c "journalctl --since \"$(etcdctl get /logentries.com/$(hostname)/lastlog)\" -o json --boot -f | /opt/bin/jq -c '{ __REALTIME_TIMESTAMP, DATE_TIME: (.__REALTIME_TIMESTAMP | tonumber / 1000000 | todateiso8601 ), PRIORITY, _UID, _GID, _HOSTNAME, _COMM, _EXE, SYSLOG_IDENTIFIER, _SYSTEMD_UNIT, _PID, MESSAGE }' | awk '{ print \"${LOG_KEY}\",$0; fflush(); }' | ncat --ssl api.logentries.com 20000"

ExecStop=/bin/bash -c 'export D="$(date +"%Y-%%m-%%d %%H:%%M:%S")"; \
                       echo "Setting bookmark to $D"; \
                       /bin/etcdctl set /logentries.com/$(hostname)/lastlog "$D"'
ExecStopPost=/bin/bash -c 'export D="$(date +"%Y-%%m-%%d %%H:%%M:%S")"; \
                       echo "Setting bookmark to $D"; \
                       /bin/etcdctl set /logentries.com/$(hostname)/lastlog "$D"'

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
