# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=PostgreSQL
Documentation=https://github.com/gaia-adm/docker-postgres

After=registrator.service
Wants=registrator.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStartSec=20min
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/env-acm

# Restart policy
Restart=on-failure
RestartSec=20s

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker stop postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStartPre=/usr/bin/docker run --rm=true -v /opt/bin:/target gaiaadm/volume-tools-${ENVIRON_LOCATION}
ExecStartPre=/opt/bin/gaia-mount.sh postgreData-${ENVIRON}

ExecStart=/bin/bash -a -c '/usr/bin/docker run \
--name postgres \
--rm=true \
-p 5432:5432 \
-e POSTGRES_USER=postgres \
-e POSTGRES_PASSWORD=${DB_PASSWORD} \
-e PGDATA=/postgreData/pgdata \
-e ACM_DB_DATABASE=hpe_account_management \
-e ACM_DB_USER=hpe_account_management \
-e ACM_DB_PASSWORD=${ACM_DB_PASSWORD} \
-e SERVICE_NAME=postgres \
-v $(/opt/bin/gaia-get-mount-path.sh postgreData-${ENVIRON}):/postgreData \
gaiaadm/postgres:9-feature_acm-integration'

# Stop
ExecStop=/usr/bin/docker stop postgres
ExecStop=-/opt/bin/gaia-unmount.sh postgreData-${ENVIRON}
ExecStopPost=-/opt/bin/gaia-unmount.sh postgreData-${ENVIRON}

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=general=true


